@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --background: #000000;
    --primary: #131b23;
    --font: #fcfcff;
    --muted: #ffffff5d;
    --muted-font: #ffffff90;
    --accent: #00a7fb;
    --accent-hover: #00a7fb40;
    --accent-light: #d5a51e;
    --accent-light-hover: #d5a51e80;

    --space-sm: .4em;
    --space-md: .8em;
    --space-lg: 1.2em;
    --space-xl: 1.6em;
}

.light-theme {
    --background: #ffffff;
    --primary: #edf6f9;
    --font: #1a1a1a;
    --muted: #00000040;
    --muted-font: #00000080;
    --accent: #00a7fb;
    --accent-hover: #00a7fb40;
    --accent-light: #d5a51e;
    --accent-light-hover: #d5a51e80;

    --space-sm: .4em;
    --space-md: .8em;
    --space-lg: 1.2em;
    --space-xl: 1.6em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background: var(--background);
    color: #222;
    font-size: .8rem;
    position: relative;
}
h1 {
    font-size: clamp(2.6rem, 3vw, 5rem);
}
h2 {
    font-size: clamp(1.8rem, 2.5vw, 4rem);
}
h3 {
    font-size: clamp(1.2rem, 2vw, 3rem);
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    width: 1.3em;
    height: 1.3em;
    fill: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

button,
.button-nature,
.btn,
.blue-btn,
.mute-btn,
a,
svg,
i {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    /* Removes mobile blue tap */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--accent-light);
    font-weight: 600;
    color: #000;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    background: var(--accent);
    color: #fff;
}

.blue-btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: var(--accent);
    font-weight: 500;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.blue-btn:hover {
    background: var(--accent-light);
    color: #000;
}

.mute-btn {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    font-weight: 500;
    color: #ffffff90;
    border: solid 1px #ffffff5d;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.mute-btn:hover {
    background: var(--accent);
    color: #fff;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1rem;
    }
}
