header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md) var(--space-lg);
    background-color: #131b23;
    color: #fcfcff;
}

.logo {
    height: 50px;
    aspect-ratio: 16 / 9;
}
.logo img {
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.burger-container {
    width: 60px;
}
.hamburger,
.close-sidebar {
    width: fit-content;
    font-size: 1.6rem;
    cursor: pointer;
}
#closeSidebar {
    display: none;
}
#closeSidebar.visible {
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    position: relative;
    cursor: pointer;
}
.nav-links a {
    color: #fcfcff;
    text-decoration: none;
}
header details summary {
    list-style: none;
    margin: var(--space-sm) 0;
    padding: var(--space-sm) var(--space-md);
    text-align: center;
    border-radius: 900px;
}
header details summary:hover {
    background: var(--accent-hover);
}
.resource-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
header details ul {
    position: absolute;
    list-style: none;
    left: 0;
    top: 120%;
    width: max-content ;
    backdrop-filter: blur(10px);
    border: solid 1px #ffffff5d;
    border-radius: 8px;
    z-index: 10000;
}
header details ul li {
    padding: var(--space-sm) var(--space-md);
    color: #fcfcff;
    transition: all 0.2s ease;
}
header details ul li:first-child {
    border-radius: 8px 8px 0 0;
}
header details ul li:last-child {
    border-radius: 0 0 8px 8px;
}
header details ul li:hover {
    background: var(--accent-hover);
}

header .theme-container {
    display: none;
}
header .theme-container,
aside .theme-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--muted);
    border-radius: 900px;
    background-color: transparent;
    color: var(--muted-font);
}
.dark-btn:hover,
.light-btn:hover {
    transform: rotate(45deg) scale(1.3);
    color: var(--font);
}
header .theme-container i,
aside .theme-container i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1 / 1;
    padding:var(--space-md);
    border-radius: 50%;
    cursor: pointer;
    /* color: var(--muted-font); */
    transition: all .3s ease;
}
aside .theme-container {
    display: flex;
    border: 2px solid var(--muted-font);
}
header .theme-container  {
    border: 2px solid #ffffff5d;
    color: #ffffff90;
}
header .theme-container i:hover {
    color: #fcfcff;
}
/* Desktop View Optimization */
@media screen and (min-width: 1024px) {
    header {
        padding: var(--space-md) calc(var(--space-lg) * 6);
    }
    .burger-container {
        display: none;
    }
    .nav-links {
        display: block;
        gap: var(--space-lg);
        order: -1;
    }
    .login-container {
        display: flex;
        gap: var(--space-lg);
        align-items: center;
    }
    header .theme-container {
        display: flex;
        order: -1;
    }
}