.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    gap: var(--space-xl);
    min-height: 50vh;
    background: #000000;
    color: var(--font);
    text-align: center;
    padding: var(--space-md);
}

.hero h1 {
    color: var(--font);
    margin-bottom: 0.5rem;
}

.hero p {
    color: var(--muted-font);
}

.exam-animation {
    width: 100%;
    position: relative;
    height: 65px;
    /* Adjust depending on font size */
    overflow: hidden;
    /* Big like H1 */
    font-weight: bold;
    text-align: center;
}

.exam-animation span {
    position: absolute;
    left: 0;
    width: 100%;
    color: var(--color);
    animation: slideUp 10s linear infinite;
    opacity: 0;
}

.exam-animation span:nth-child(1) {
    animation-delay: 0s;
}

.exam-animation span:nth-child(2) {
    animation-delay: 2s;
}

.exam-animation span:nth-child(3) {
    animation-delay: 4s;
}

.exam-animation span:nth-child(4) {
    animation-delay: 6s;
}

.exam-animation span:nth-child(5) {
    animation-delay: 8s;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    5% {
        transform: translateY(0);
        opacity: 1;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.hero-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: calc(var(--space-xl) + var(--space-md));
}

.cute-panda-head {
    width: 80px;
    height: auto;
    right: var(--space-md);
    filter: drop-shadow(0 0 3px white);
    z-index: 3;
}
.latest-batch-btn,
.free-learning-btn {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.cute-panda {
    width: 80px;
    height: auto;
    bottom: 85%;
    left: 0;
    position: absolute;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}
.latest-batch-btn:active .cute-panda {
    left: 30%;
}

@media screen and (min-width: 1024px) {
    .hero {
        padding: var(--space-xl) calc(var(--space-xl) * 8);
    }
    .latest-batch-btn:hover .cute-panda {
    left: 40%;
}
}