/* Our Latest Batch */
.latest-batch {
    text-align: center;
    padding: var(--space-xl) var(--space-lg);
    background-image: linear-gradient(to bottom, var(--primary), var(--background));
    color: var(--font);
    display: flex;
    flex-direction: column;
}
.latest-batch-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    /* align-items: center; */
    justify-content: center;
    padding: var(--space-xl);
    gap: var(--space-lg);
}
.latest-batch-card {
    background: #111;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--muted);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.latest-batch-card:hover,
.latest-batch-card.active:hover {
    box-shadow: 0 0 20px #00a7fb50;
    transform: scale(1.05);
}
.latest-batch-card img {
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}
.latest-batch-card-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: start;
    padding: 0 var(--space-sm);
    gap: var(--space-md);
}
.latest-batch-card h3 {
    color: #fcfcff;
    font-size: 1.5rem;
}
.latest-batch-card p {
    color: #ffffff90;
}

/* Desktop View Optimization */
@media screen and (min-width: 1024px) {
    .latest-batch {
        margin: var(--space-xl) calc(var(--space-xl) * 8);
        border-radius: 12px;
    }
}