aside {
    color: #fcfcff;
    background: #131b23;
    padding: 0 var(--space-lg) var(--space-lg) var(--space-lg);
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    transition: all 0.3s ease-in-out;
    text-align: center;
}
aside a {
    width: fit-content;
}
.sidebar {
    display: none;
}
.sidebar.active {
    display: flex;
}
.sidebar ul {
    list-style: none;
}
.sidebar ul li {
    padding: var(--space-md) 0;
}

/* Hide elements when needed */
.hidden {
    display: none;
}
