/* Banner wrapper */
.banner {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f2ff00;
    color: #000;
    padding: 2px 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9999;
}
/* Scrolling text */
.banner p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 28s linear infinite;
    font-weight: 500;
}
/* Keyframes for infinite scroll */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Header Description */
.header-desc {
    background-color: var(--accent-light-hover);
    padding: 2px 8px;
    width: fit-content;
    border-radius: 999px;
    border: 1px solid var(--accent-light);
    color: var(--font);
}

/* Back to Top Btn */
.back-to-top {
    backdrop-filter: blur(20px);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 999px;
    z-index: 10001;
}
#backToTop {
    display: none;
}
.back-to-top svg {
    fill: var(--font);
    width: 36px;
    height: 36px;
    filter: drop-shadow(0 0 20px #131b23);
    background: var(--primary);
    border-radius: 999px;
}

/* social Section  */
.social {
    background: var(--primary);
    color: var(--font);
    padding: var(--space-xl) var(--space-lg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--space-xl)*2);
}
.social-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: var(--space-md);
}
.social-card {
    aspect-ratio: 1 / 1;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    background: transparent;
    border: 1px solid var(--muted);
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}
.youtube {
    box-shadow: 0 0 600px #ff00005d;
}
.telegram {
    box-shadow: 0 0 600px #0099ff5d;
}
.instagram {
    box-shadow: 0 0 600px #ff00805d;
}
.facebook {
    box-shadow: 0 0 600px #1e00ff5d;
}
.social-card:hover {
    border: 2px solid var(--muted-font);
    transform: scale(1.1);
}
.social-card p {
    font-size: 40px;
    font-weight: bold;
}
.social-items {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-sm);
    align-items: center;
}
.social-items img {
    width: 20px;
    background-size: cover;
    background-position: center;
}

/* Desktop View Optimization*/
@media screen and (min-width: 1024px) {
    .social {
        margin: var(--space-xl) calc(var(--space-xl) * 8);
        border-radius: 12px;
    }

    .social-card-container {
        padding: var(--space-xl) calc(var(--space-xl) * 4);
    }
}