.header-desc {
    background-color: var(--accent-light-hover);
    padding: 2px 8px;
    width: fit-content;
    border-radius: 999px;
    border: 1px solid var(--accent-light);
    color: var(--font);
}

/* Banner wrapper */
.banner {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f2ff00;
    color: #000;
    padding: 2px 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9999;
}

/* Scrolling text */
.banner p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 28s linear infinite;
    font-weight: 500;
}

/* Keyframes for infinite scroll */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.back-to-top {
    backdrop-filter: blur(20px);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 999px;
    z-index: 10001;
}
#backToTop {
    display: none;
}

.back-to-top svg {
    fill: var(--font);
    width: 36px;
    height: 36px;
    filter: drop-shadow(0 0 20px #131b23);
    background: var(--primary);
    border-radius: 999px;
}

/* Why Us */
.why-us {
    text-align: center;
    padding: var(--space-xl) var(--space-lg);
    margin: var(--space-xl) var(--space-lg);
    background: var(--primary);
    color: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
    border-radius: 12px;
}

.timeline {
    width: 100%;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-image: linear-gradient(to bottom,
            var(--primary),
            var(--muted),
            var(--muted),
            var(--muted),
            var(--muted),
            var(--muted),
            var(--muted),
            var(--primary));
}

.timeline-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 3em;
    width: 14px;
    height: 14px;
    background-color: var(--font);
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.right {
    left: 50%;
    justify-content: start;
}

.timeline-item.right::before {
    left: -7px;
}

.timeline-item.left {
    left: 0;
    justify-content: end;
}

.timeline-item.left::before {
    right: -7px;
}

.timeline-item .content,
.timeline-item .content-special {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    padding: 0 var(--space-md);
    border-radius: 6px;
    line-height: 1.4;
}

.timeline-item .content svg {
    width: 6.5em;
    height: 6.5em;
    background-color: #d5a41e20;
    padding: var(--space-md);
    fill: #d5a41e;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.timeline-item .content-special svg {
    fill: #00a7fb;
    background-color: #00a7fb20;
    transition: all 0.3s ease-in-out;
}

.timeline-item .content svg:active {
    transform: rotate(-43deg) scale(1.2);
}

.timeline-item .content-special svg:active {
    transform: rotate(43deg) scale(1.2);
}

.timeline-item.left .content {
    text-align: center;
}

.timeline-item.right .content {
    text-align: center;
}

/* Resources to Learn */
/* Free Learn  */
.free-learning {
    width: 100%;
    background: var(--background);
    color: var(--font);
    padding: var(--space-xl) var(--space-lg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
}

.free-learning-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: var(--space-md);
}

.free-learning-card {
    aspect-ratio: 1 / 1;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    background: var(--primary);
    border: 1px solid #ffffff5d;
    border-radius: 8px;
}

.free-learning-card svg {
    width: 60px;
    height: 60px;
    padding: var(--space-md);
    border-radius: 8px;
    background: #ffffff50;
    transition: transform 0.3s ease-in-out;
    fill: #fcfcff;
}

.free-learning-card:hover svg {
    transform: scale(1.2);
}

.flcsc {
    width: 100%;
    height: 90%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.english {
    background: rgb(255, 72, 0);
}

.genaral-awarness {
    background: var(--accent-light);
}

.math {
    background: var(--accent);
}

.reasoning {
    background: #f200ff;
}

/* Our Batch */
.latest-batch {
    padding: var(--space-xl) var(--space-lg);
    background-image: linear-gradient(to bottom, var(--primary), var(--background));
    color: var(--font);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: var(--space-xl);
}

.latest-batch-scroll {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: calc(var(--space-xl) * 2);
    gap: 1.5rem;
    scrollbar-width: none;
}

.latest-batch-card {
    width: 100%;
    min-width: 280px;
    max-width: 380px;
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: solid 1px var(--muted);
    padding: var(--space-lg);
    text-align: center;
    scroll-snap-align: center;
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
}

.latest-batch-card img {
    width: 100%;
    border-radius: 10px;
}

.latest-batch-card-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    gap: var(--space-md);
    margin-top: 1rem;
}

.latest-batch-card h3 {
    color: var(--font);
}

.latest-batch-card p {
    color: var(--muted-font);
}

.latest-batch-card button {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: var(--accent);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.latest-batch::-webkit-scrollbar {
    display: none;
}

.latest-batch-card.active {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 20px #00a7fb50;
    /* background: #000; */
}

/* Notice Board */
.notice-board {
    position: relative;
    width: 100%;
    color: var(--font);
    padding: var(--space-xl) calc(var(--space-lg) * 2) 0 calc(var(--space-lg) * 2);
    background-image: linear-gradient(to top, var(--primary), var(--background));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
}

.notice-card {
    max-width: 400px;
    width: 100%;
    background: var(--primary);
    color: var(--font);
    border: solid 1px var(--muted);
    padding: var(--space-lg);
    border-radius: 8px;
    font-family: Inter, system-ui, sans-serif;
}

.notice-title {
    color: var(--font);
    margin: 0 0 6px 0;
    font-weight: 700;
}

.notice-date {
    color: var(--muted-font);
    margin-bottom: 8px;
    display: block;
}

.notice-desc {
    margin: 0;
    color: var(--muted-font);
    line-height: 1.4;
}

.notice-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* hide scroll */
    max-height: 600px;
    position: relative;
    background: transparent;
}

/* Wrap cards in a moving container */
.notice-card-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xl);
    animation: scroll-up 20s linear infinite;
}

.notice-board::after {
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-image: linear-gradient(to top, var(--primary), transparent);
    z-index: 9999;
}

/* social  */
.social {
    background: var(--primary);
    color: var(--font);
    padding: var(--space-xl) var(--space-lg);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--space-xl)*2);
}

.social-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: var(--space-md);
}

.social-card {
    aspect-ratio: 1 / 1;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    background: transparent;
    border: 1px solid var(--muted);
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}

.youtube {
    box-shadow: 0 0 600px #ff00005d;
}

.telegram {
    box-shadow: 0 0 600px #0099ff5d;
}

.instagram {
    box-shadow: 0 0 600px #ff00805d;
}

.facebook {
    box-shadow: 0 0 600px #1e00ff5d;
}

.social-card:hover {
    border: 2px solid var(--muted-font);
    transform: scale(1.1);
}

.social-card p {
    font-size: 40px;
    font-weight: bold;
}

.social-items {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-sm);
    align-items: center;
}

.social-items img {
    width: 20px;
    background-size: cover;
    background-position: center6
}

@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .notice-board::after {
        content: '';
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    .notice-card {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    .latest-batch-scroll {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: var(--space-xl);
        padding: calc(var(--space-xl) * 2);
    }

    .why-us {
        margin: var(--space-xl) calc(var(--space-xl) * 8);
    }

    .free-learning {
        padding: var(--space-xl) calc(var(--space-xl) * 8);
    }

    .timeline-item .content svg:hover {
        transform: rotate(-23deg) scale(1.2);
    }

    .timeline-item .content-special svg:hover {
        transform: rotate(23deg) scale(1.2);
    }

    .social {
        margin: var(--space-xl) calc(var(--space-xl) * 8);
        border-radius: 12px;
    }

    .social-card-container {
        padding: var(--space-xl) calc(var(--space-xl) * 4);
    }

    .latest-batch {
        margin: var(--space-xl) calc(var(--space-xl) * 8);
        border-radius: 12px;
    }

    .latest-batch-scroll {
        display: flex;
        justify-content: center;
    }

    .latest-batch-card {
        opacity: 1;
    }

    .latest-batch-card:hover,
    .latest-batch-card.active:hover {
        box-shadow: 0 0 20px #00a7fb50;
        transform: scale(1.05);
    }

    .latest-batch-card.active {
        transform: unset;
        box-shadow: unset;
    }
}